<mat-toolbar ><button mat-button color="primary" (click)="goBack()">< Back</button></mat-toolbar>
<div class="page-wrapper">
  <form class="new-company-container">

    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="companyName" name="companyName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput
             matGoogleMapsAutocomplete
             type="address"
             name="address"
             [(ngModel)]="place"
             (onAutocompleteSelected)="onAutocompleteSelected($event)"
             (onLocationSelected)="onLocationSelected($event.latitude, $event.longitude)">
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" (click)="saveCompany()" [disabled]="!place || !companyName">Save</button>
    </div>

  </form>
</div>
