.new-company-container
  display: flex
  flex-direction: column
  margin: 24px
  width: 100%

.new-company-container > *
  width: 100%
.button-row
  text-align: right
.button-row button,
.button-row a
  margin-right: 8px
