.list-wrapper
  width: 100%
  margin: 0 0 100px
  mat-list-item
    height: 180px

.fab-button
  position: fixed
  right: 18px
  bottom: 18px
  z-index: 1

.show-header
  background-color: #333
  opacity: 1
  position: fixed
  top: 0
  width: 100%
  display: block
  transition: top 0.3s
  z-index: 1
.hide-header
  top: -64px


