<div [ngClass]="className">
  <mat-toolbar >Home</mat-toolbar>
</div>
<div class="page-wrapper">
  <div class="list-wrapper">
    <mat-list>
      <mat-list-item *ngFor="let item of page; let i = index">
          <img matListAvatar src="http://lorempixel.com/200/200/" alt="lorempixel">
        <a matLine routerLink="/companies/{{item.name}}">
          {{item.name}}
        </a>
          <p matLine> city: {{item.city}}</p>
        <div>
          <button mat-button color="warn" (click)="removeItem(i)">X</button>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <div class="fab-button">
      <a mat-fab color="primary" *ngIf="toggleButton" routerLink="/companies/new">+</a>
      <button mat-fab  color="warn" *ngIf="toggleButton" (click)="clearList()">X</button>
      <button mat-fab  color="accent" (click)="toggleMenu()">Menu</button>
    </div>
  </div>
</div>
