/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

//Global styles
*
  margin: 0
  padding: 0

.page-wrapper
  max-width: 720px
  display: flex
  margin: auto

